@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Oxygen:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
    background-color: rgb(240, 238, 238);
    color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.main_image {
    width: 100%;
    height: auto
}

/* Testimonial Section in home page */

.testimonial{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 30, 34);
    font-family: sans-serif;
}

.intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
    color: white;
    padding-bottom: 40px;
  }
  
.intro p {
    margin-bottom:0;
    color: white;
  }

.card-testi{
    border-radius: 1rem;
    box-shadow: 0px -10px 0px rgb(118, 120, 116);
}
@media(max-width:767px){
    .card-testi{
        margin: 1rem 0.7rem 1rem;
        max-width: 80vw;
    }
}

.image-testimonial{
    width: 6.2rem;
    border-radius: 5rem;
    margin: 1.3rem auto 1rem auto;
}

.colum-testi{
    padding:0  0.5rem;
}

.card-title-testi{
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'IM Fell French Canon SC';
}

.card-text-testi{
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    color: rgb(82, 81, 81);
    line-height: 1.4rem;
}

.footer-testi{
    border-top: none;
    text-align: center;
    line-height: 1.2rem;
    padding: 2rem 0 1.4rem 0;
    font-family: 'Varela Round';
}

#name-testi{
    font-size: 0.8rem;
    font-weight: bold;
}

#position{
    font-size: 0.7rem;
}

/* Main Navbar */

.nav-button{
    margin-right: 10px;
}

.link{
    text-decoration: none;
    color: black;
}

.logo-image{
    width:120px;
    height:auto
}

.navbar-main{
    height: 60px;
}

.nav-link{
    font-size: 17px;
}

/* Main Footer */

.footer-follow{
    font-size: 30px;
    margin-bottom: 25px;
}

i{
    font-size: 35px;
}

.copyright{
    font-size: 10px;
}

.credits{
    font-size: 10px;
}

.icon-color{
    color: white;
}
/* Home page */

.image-custom{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35px;
}

.middle-image{
    margin-right: 80px !important;
}

.custom{
    text-align: center;
}

.custom-container{
    height: 100%;
}

.custom-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-content h2{
    margin-bottom: 40px;
}

/* login page */

.container-login{
    background: transparent;
}

.login-heading, .register-heading{
    font-weight: 800;
}

.login-title{
    letter-spacing: 1px;
}

/* logout button */

.logout-button{
    text-decoration: none;
    color: black;
}

/* About us page */

.about-title{
    margin-top: 30px;
    margin-bottom: 50px;  
}

.map{
    margin-top:60px;
    margin-bottom: 30px;
}
