{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--403 error page-->
<main class="d-flex account-body">
    <div class="container-fluid fof d-flex flex-column align-items-center m-auto">
        <h1 class=" h1 text-danger font-weight-bold pb-3 display-1 ">403</h1>
        <h2 class="h2 text-dark font-weight-bold pb-3 display-3 text-center">Not Allowed Here</h2>
        <a href="{% url 'home' %}" class="btn btn-dark active pl-5 pr-5 mb-5"> Go Back to Home Page</a>
    </div>
</main>

{% endblock %}