{% extends "base.html" %}
{% load static %}

{% block content %}
<!--About us page-->
<h1 class="text-center about-title">About Kyros</h1>
<div class="custom">
    <div class="container custom-container mt-2 mb-1">
        <div class="row">
            <div class="col-sm-6 custom-content">
                <h2>Who we are?</h2>
                <p class="lead">Welcome to our platform! Kyros is a pioneering force in HR technology, committed to
                    simplifying employee management. Our user-friendly app streamlines HR operations, eliminating
                    paperwork and ensuring data accuracy. With Kyros, you can effortlessly handle employee information,
                    including names, IDs, addresses, phone numbers, departments, and employment statuses. We prioritize
                    data security and offer dedicated support to empower HR departments of all sizes.
                </p>
            </div>
            <div class="col-sm-6 custom-content">
                <img src="{% static 'images/who_we_are.jpeg' %}" class="image-custom" alt="home-page">
            </div>

        </div>
    </div>
</div>

<div class="">
    <div class="container custom-container my-5">
        <div class="row">
            <div class="col-sm-6 custom-content">
                <img src="{% static 'images/journey.jpeg' %}" class="image-custom" alt="home-page">
            </div>
            <div class="col-sm-6 custom-content">
                <h2 class="text-center">Our Journey</h2>
                <p class="lead text-center">Kyros, founded in 2023, set out to revolutionize employee management by
                    simplifying data handling. We've become a trusted partner for businesses, streamlining employee data
                    and providing a user-friendly platform for names, IDs, addresses, phone numbers, departments, and
                    employment statuses. Join us in this transformative journey to enhance your employee management
                    experience, save resources, and build a more productive workforce. Thank you for considering Kyros
                    as your partner in innovation.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="custom">
    <div class="container custom-container mt-2 mb-1">
        <div class="row">
            <div class="col-sm-6 custom-content">
                <h2>Why Choose Kyros?</h2>
                <p class="lead">Kyros is your HR department's ultimate partner for employee management. Our intuitive
                    app simplifies the process of handling employee information, including name, ID, address, phone
                    number, department, and employment status, all without the need for paperwork. Kyros streamlines
                    your HR operations, ensuring data accuracy and freeing up valuable time for your HR team to focus on
                    strategic initiatives. Join Kyros today and revolutionize your employee management process with a
                    secure, paperless, and highly adaptable solution, backed by our unwavering commitment to your HR
                    success.
                </p>
            </div>
            <div class="col-sm-6 custom-content">
                <img src="{% static 'images/why_us.jpeg' %}" class="image-custom middle-image" alt="home-page">
            </div>
        </div>
    </div>
</div>

<h1 class="text-center mycolor map">Find us</h1>
<div class="text-center my-5">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75866.32328387426!2d8.493341900904694!3d53.54308163937933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b6b111c4204e61%3A0x426cf77630073a0!2sBremerhaven!5e0!3m2!1sen!2sde!4v1693218776752!5m2!1sen!2sde"
        width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{%endblock%}