{% block nav-bar %}
{% load static %}

<!--Navebar-->
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid navbar-main">
    <img src="{% static 'images/kyros_logo.png' %}" class="logo-image" alt="kyros logo">
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if isLogin %}
        <li class="nav-item">
          <a class="nav-link text-white" href="/employe/main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/employe/add_employe">Add Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/employe/home">List of employee</a>
        </li>
        <li>
          <a class="nav-link text-white" href="/employe/contact/">Conact us</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'about' %}">About Us</a>
        </li>
        {% endif %}
      </ul>
      {% if isLogin %}
      <form class="d-flex" role="search">
        <!-- <button type="button" class="btn bg-white logout-button" onclick="location.href='/logout'"><a href="/logout">Log Out</a></button> -->

        <button type="button" class="btn bg-white logout-button" data-bs-toggle="modal"
          data-bs-target="#logoutModal"><a>Log Out</a>
        </button>
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Logout Alert</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want logout...!!!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" onclick="location.href='/logout'">Log Out</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      {% else %}
      <form class="d-flex" role="search">
        <button type="button" class="btn text-dark bg-light nav-button" onclick="location.href='/login'"><a
            href="/login" class="link">LogIn</a></button>
        <button type="button" class="btn text-dark bg-light nav-button" onclick="location.href='/register'"><a
            href="/register" class="link">Register</a></button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock nav-bar %}