<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee management</title>
    <link rel="stylesheet" href="/static/css/style.css/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/employe/home/"><img src="{% static 'images/kyros_logo.png' %}" style="width:120px;height:50px;" alt="kyros logo"></a>
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link text-white" href="/employe/add_employe">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/employe/home">List of employee</a>
          </li>
          <li>
            <a class="nav-link text-white" href="/employe/contact/">Conact us</a>
          </li>
        
        </ul>
        <form class="d-flex" role="search">
          <button type="button" class="btn btn-white bg-white logout-button" onclick="location.href='/logout'"><a href="/logout">Log Out</a></button>
        </form>
      </div>
    </div>
  </nav>


<!--Footer-->
  <footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Follow Us</h4>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://facebook.com" target="_blank" class="text-white">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://linkedin.com" target="_blank" class="text-white">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com" target="_blank" class="text-white">
                            <i class="fa-brands fa-square-x-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" target="_blank" class="text-white">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-legal text-center position-relative">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>2023</span></strong>
                </div>
                <div class="credits">
                    Portfolio Project 4
                </div>
            </div>
        </div>
    </div>
  </footer>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>